@import "../../../assets/scss/global";

.listCategories {
  display: flex;
  justify-content: space-evenly;
  @include d(s) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include d(s) {
    .cardThumbCategory:nth-child(even) {
      padding-top: 20px;
      padding-left: 20px;
    }
    .cardThumbCategory:nth-child(odd) {
      padding-bottom: 20px;
    }
  }

  .thumbCategory {
    position: relative;
    width: 180px;
    height: 210px;
    @include box-shadow(2px 2px 8px $sombra);
    border-radius: 10px;
    background-size: 100%;
    padding: 5px;
    @include d(s) {
      width: 160px;
      height: 190px;
    }
    @include d(ss) {
      width: 120px;
      height: 150px;
    }

    span {
      font-weight: bold;
      font-size: 16px;
      color: #f4f4f0;
      text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
      z-index: 10;
      position: absolute;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
    }
  }
}
