.listCategories {
  display: flex;
  justify-content: space-evenly;

  .thumbCategory {
    width: 180px;
    height: 210px;
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    background-size:cover
  }
}


